body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#caculator{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
}

#display{
    display: flex;
    height: 85px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    
}
#function{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 5px;
}

#function button {
    height: 50px;
    width: 100px;
    background-color: orange;
    border-radius: 5px;
    font-size: 1.5em;

}

#key{
    display: flex;
    margin: 5px;
    height: 100%;
}

#keynumber {
    display: flex;
    flex-wrap: wrap; /* Cho phép các nút tự xuống hàng */
    justify-content: space-between; /* Căn đều khoảng cách giữa các nút */
    margin: 5px;
    width: 280px;
}

.number {
    width: 32%; /* Mỗi nút chiếm 30% chiều rộng của container để có 3 nút trên mỗi dòng */
    height: 70px; /* Chiều cao của các nút */
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Đảm bảo padding và border không làm tràn kích thước */
    margin: 5px 0;
}
.number.zero {
    width: 65%; /* Chiếm hai cột */
}

/* Cho nút "." để chiếm một cột như các nút khác */
.number.dot {
    width: 32%; /* Chiếm một cột */
}

#operator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px; /* Khoảng cách bên trái */
    width: 97px;
}

.operator {
    width: 89px; /* Nút chiếm hết chiều ngang của container */
    height: 70px; /* Chiều cao cố định cho các nút */
    background-color: orange;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
    color: white;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator.chia{
    margin-bottom: 12px;    
}


#caculator button:active {
    background-color:antiquewhite;
    box-shadow: 2px 2px 5px #fc894d;
}